{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ADMIN-CommunDeliver</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <style>
          
            .home{
                float: left;
            }        
             
                .pending {
                    background-color: yellow;
                }
        
                .verified {
                    background-color: green;
                    color: white;
                    cursor: not-allowed;
                }
            </style>


    </head>
    <body>
       
        <div class="topnav">
     
            <form action="{% url 'admin_page' %}">
                <!-- <input type="image" src="{% static 'assets/logo.png' %}" class="home" id="home" width="55px" height="45px"> -->
    
    
                </form>


    
            <div class="rig">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>

        <div>
            <table id="table-content">
                <thead>
                    <tr>
                        <th>Partner-ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>ID Proof</th>
                        <th>Id Number</th>
                        <th>Contact Number</th>
                        <th>Vehicle Model</th>
                        <th>Vehicle Number</th>
                        <th>Action</th>
                        <th>Status</th>
                       
                    </tr>
                    
                <tbody>
                    {% for partner in partners %}
                    <tr>
                        <td>{{partner.partnerid}}</td>
                        <td>{{partner.partnername}} </td>
                        <td>{{partner.partnermail}}</td>
                        <td>{{partner.partneridproof}}</td>
                        <td>{{partner.partneridno}}</td>
                        <td>{{partner.partnercontact}}</td>
                        <td>{{partner.partnervehicle}}</td>
                        <td>{{partner.partnervehicleno}}</td>
                        <td>
                            <button class="verify-btn" data-partner-id="{{ partner.partnerid }}" data-status="{{ partner.status }}">
                                {% if partner.status == 'pending' %}
                                    Verify
                                {% elif partner.status == 'verified' %}
                                    Verified
                                {% endif %}
                            </button>
                        </td>

                        <td class="status {% if partner.status == 'pending' %}pending{% elif partner.status == 'verified' %}verified{% endif %}">
                            {{ partner.status }}
                        </td>
                    
                       
                    </tr>
             
                        

                    {% endfor %}
                    
                </tbody>
    
            </table>
        </div>
    
    </body>

    <script>
        $(document).ready(function () {

            $('.verify-btn').click(function () {
                console.log('clicked');
                var button = $(this);
                var partnerId = button.data('partner-id');
                var currentStatus = button.data('status');
                console.log(currentStatus);
    
           
                $.ajax({
                    type: 'POST',
                    url: "{% url 'verify_partner' %}",
                    data: {
                        'partner_id': partnerId,
                        'current_status': currentStatus,
                   
                    },
                    success: function (response) {
                        if (response.success) {
                    
                            button.text('Verified').prop('disabled', true);
                            button.closest('tr').find('.status').text('verified').addClass('verified');
                        } else {
                            alert('Failed to verify partner.');
                        }
                    },
                    error: function () {
                        alert('An error occurred during the verification process.');
                    }
                });
            });
        });
    </script>
</html>